<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group row">
  <%= f.label :title, class: "col-xs-2 col-form-label" %>
  <div class="col-xs-10"><%= f.text_field :title, class: "form-control" %></div>
</div>

<div class="form-group row">
  <%= f.label :description, class: "col-xs-2 col-form-label" %>
  <div class="col-xs-10"><%= f.text_area :description, size: "30x10", class: "form-control" %></div>
</div>

<div class="form-group row">
  <%= f.label :category, class: "col-xs-2 col-form-label" %>
  <div class="col-xs-10">
    <%= f.select :category, options_for_select(['Firecape' ,'Powerlevel', 'Quest', 'Other']), {}, :class => 'form-control' %>
  </div>
</div>

<div class="form-group row">
<%= label_tag "Username", 'Username', class: "col-xs-2 col-form-label" %>
  <div class="col-xs-10"><%= text_field(:username, 'username', class: "form-control") %></div>
</div>

<div class="form-group row">
    <%= f.submit 'Post Job', class: "btn btn-primary btn-block" %>
</div>
<% end %>